<h1>Editando: {{user.name}}</h1>

<form action="/users/update" method="post" class="form">
  <input type="hidden" name="id" value="{{user.id}}" />
  <div class="form-control">
    <label for="name">Nome:</label>
    <input
      type="text"
      name="name"
      placeholder="Digite o nome"
      value="{{user.name}}"
    />
  </div>
  <div class="form-control">
    <label for="occupation">Profissão:</label>
    <input
      type="text"
      name="occupation"
      placeholder="Digite a ocupação"
      value="{{user.occupation}}"
    />
  </div>
  <div class="form-control form-checkbox">
    {{#if user.newsletter}}
      <input type="checkbox" name="newsletter" checked />
    {{else}}
      <input type="checkbox" name="newsletter" />
    {{/if}}
    <label for="newsletter">Receber newsletter</label>
  </div>
  <input type="submit" value="Editar" />
</form>
<div class="address-container">
  <h2>Endereços</h2>
  <form action="/address/create" method="post">
    <input type="hidden" name="UserId" value="{{user.id}}" />
    <div class="form-control">
      <label for="street">Rua:</label>
      <input type="text" name="street" placeholder="Digite a rua" />
    </div>
    <div class="form-control">
      <label for="number">Número:</label>
      <input type="number" name="number" placeholder="Digite o número" />
    </div>
    <div class="form-control">
      <label for="city">Cidade:</label>
      <input type="text" name="city" placeholder="Digite a Cidade" />
    </div>
    <input type="submit" value="Cadastrar" />
  </form>
  <div class="address-list">
    <h2>Endereços</h2>
    {{#each Addresses}}
      <p>#{{id}} - {{street}}, {{number}}, {{city}}</p>
    {{/each}}
  </div>
</div>