<h1>Editar produto</h1>
<form action="/products/edit" method="POST">
    <input type="hidden" name="id" value="{{product._id}}">
    <div class="form-control">
        <label for="name">Nome do produto:</label>
        <input type="text" name="name" placeholder="Digite o nome" required value="{{product.name}}">
    </div>
        <div class="form-control">
        <label for="image">Imagem do produto:</label>
        <input type="text" name="image" placeholder="Insira a URL" required value="{{product.image}}">
    </div>
    <div class="form-control">
        <label for="price">Preço do produto:</label>
        <input type="text" name="price" placeholder="Digite o preço" required value="{{product.price}}">
    </div>
    <div class="form-control">
        <label for="description">Descrição do produto:</label>
       <textarea name="description" placeholder="Digite a descrição">{{product.description}}</textarea>
    </div>
    <input type="submit" value="Criar produto" class="btn">
</form>